html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background: #ccc url("https://unsplash.it/3000/700") no-repeat center bottom;
  background-size: cover;
  margin: 0;
}

.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider__inner {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}

.slider__inner__overflow {
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  width: 400%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

.slider__slide {
  height: 100%;
  width: 25%;
  float: left;
}

.testimonial {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  padding: 10px 3%;
  font: 300 24px/36px "Helvetica Neue", Helvetica;
  font: 300 5vmin/7.2vmin "Helvetica Neue", Helvetica;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 768px) {
  .testimonial {
    padding: 1% 3%;
  }
}

.testimonial__avatar {
  border-radius: 100%;
  width: auto;
  height: 50px;
}
@media only screen and (min-width: 768px) {
  .testimonial__avatar {
    height: 30vmin;
  }
}

.testimonial__copy {
  margin: 3vh;
}

.testimonial__author {
  display: block;
  font-style: italic;
  color: #aaa;
}

.banner__image {
  max-height: 100%;
}

.control {
  display: none;
}

#Slide1:checked ~ .slider__inner__overflow {
  margin-left: 0%;
}

#Slide1:checked + #s1 {
  opacity: 1;
}

/*$test: $slideCount / 2;

@if ($i <= $test) {
  #s1{ margin-left: -12px; }
} @else {
  #s1{ margin-left: 3px; }
}*/
#Slide2:checked ~ .slider__inner__overflow {
  margin-left: -100%;
}

#Slide2:checked + #s2 {
  opacity: 1;
}

/*$test: $slideCount / 2;

@if ($i <= $test) {
  #s2{ margin-left: -24px; }
} @else {
  #s2{ margin-left: 6px; }
}*/
#Slide3:checked ~ .slider__inner__overflow {
  margin-left: -200%;
}

#Slide3:checked + #s3 {
  opacity: 1;
}

/*$test: $slideCount / 2;

@if ($i <= $test) {
  #s3{ margin-left: -36px; }
} @else {
  #s3{ margin-left: 9px; }
}*/
#Slide4:checked ~ .slider__inner__overflow {
  margin-left: -300%;
}

#Slide4:checked + #s4 {
  opacity: 1;
}

/*$test: $slideCount / 2;

@if ($i <= $test) {
  #s4{ margin-left: -48px; }
} @else {
  #s4{ margin-left: 12px; }
}*/
.slideControl {
  padding: 6px;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: 25px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .slideControl {
    padding: 0.6vmax;
  }
}
.slideControl:hover {
  opacity: 1;
}

#s1 {
  margin-left: -36px;
}

#s2 {
  margin-left: -12px;
}

#s3 {
  margin-left: 12px;
}

#s4 {
  margin-left: 36px;
}